.home-area

    &__banner
        padding: 15px
        
    &__img 
        width: 100%
        max-width: 750px 
        height: 400px

    &__timer
        color: #fff
        font-size: 16px
        margin: 0
        margin-bottom: 5px