.profile
    height: calc(100vh - 89px)
    width: 100%
    
    &__page
        padding: 10px

    &__leftbar
        width: 250px
        border: 2px solid #e2a110

    &__img 
        height: 250px
        background-size: cover !important
        background-position: center !important
        background-repeat: no-repeat !important

    &__upload
        display: none

    &__box
        font-weight: 500

    &__custom
        color: #6f4b22
        background: #e2a110
        padding: 10px 0
        display: block
        text-align: center
        cursor: pointer
        margin: 0

    &__line
        padding: 10px
        border: 2px solid #e2a110
        margin-bottom: 15px
        &:last-child
            margin-bottom: 0

    &__item
        color: #e2a110
        &:first-child
            font-weight: bold
        &:last-child
            padding-left: 5px


@media screen and (max-width: 992px)
    .profile__leftbar
        margin: 0 auto
        margin-bottom: 40px 

@media screen and (max-width: 768px)
    .profile__page
        padding-top: 40px

@media screen and (max-width: 576px)
    .profile
        &__img
            height: 130px

        &__rightbar
            width: 250px
            margin: 0 auto
            




  
