.warning 
    width: 100%
    color: #6f4b22
    font-weight: 700
    padding: 15px
    margin: auto
    text-align: center
    background: #e2a110
    border: 2px solid #6f4b22
    &_propfile
        top: 0
