.dialog-area
    border: 2px solid #fff
    padding: 10px

.coments
    width: 520px
    display: flex
    justify-content: space-between
    padding-top: 50px
    margin: 0 auto
    padding-bottom: 40px
    position: relative

    &__area
        width: 400px
        height: 100px
        padding: 10px 15px
        color: #383b46
        outline: none
        resize: none

    &__btn
        height: 50px
        align-self: flex-end
        padding: 5px
        border: 0
        outline: none
        color: #fff
        background-color: #005980

    &__warning
        width: 540px
        position: absolute
        left: -10px
        right: 0
        top: 160px
        margin-bottom: 15px
        margin: auto


.posts-area
    max-height: 500px
    padding: 40px 0   
    overflow: hidden
    overflow-y: scroll

    &__content
        display: flex

    &__item
        width: 520px
        border: 2px solid #fff
        margin: 0 auto
        display: flex
        padding: 10px
        margin-bottom: 15px
        position: relative
        display: flex
        flex-direction: column
        &:last-child
            margin-bottom: 0
        &:hover
            .posts-area__close
                display: block


    &__image
        width: 50px
        height: 50px

    &__text
        padding-left: 15px
        color: #fff

    &__close
        width: 15px
        height: 15px
        position: absolute
        right: 10px
        top: 10px
        cursor: pointer
        display: none

    &__timer
        color: #fff
        padding: 10px 0 0 10px


::-webkit-scrollbar 
    display: none


@media screen and (max-width: 992px)
    .coments
        display: flex
        flex-direction: column
        align-items: center
        &__btn
            width: 100%
            max-width: 400px
            align-self: center
            margin-top: 10px
            border-radius: 5px

    .coments__area
        width: 100%
        max-width: 400px
        border-radius: 5px

    .posts-area__item
        width: 100%
        max-width: 400px
        font-size: 12px
        border-radius: 5px

@media screen and (max-width: 576px)
    .coments
        width: 100%
        max-width: 400px
        padding: 15px

    .dialog
        padding: 15px



