.navigation
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.navigation__img
    width: 30px
    height: 30px
    cursor: pointer

.navigation__profile
    width: 30px
    height: 30px
    background-size: contain !important 
    background-repeat: no-repeat !important 
    cursor: pointer

.navigation__box
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    margin-right: 20px
    &:last-child
        margin-right: 0

.navigation__title
    display: none
    position: absolute
    border: 2px solid #383b46
    top: 60px
    z-index: 1000
    padding: 10px
    background: #fff

.navigation__box
    &:hover
       .navigation__title 
           display: block

.navigation__link
    text-decoration: none
    color: #383b46
    font-size: 18px
    
.navigation__link
    &:hover
        text-decoration: none
        color: #383b46
        cursor: pointer


