.sitebar 
    background-color: #383b46
    height: 100%
    padding: 10px

.sitebar__list 
    display: flex
    flex-direction: column

.sitebar-list__link
    text-decoration: none
    color: #fff
    font-size: 22px
    cursor: pointer

.sitebar-list__link:hover
    color: #fff
    text-decoration: none

@media screen and (max-width:  768px)
    .sitebar
        height: auto
        margin-bottom: 5px
