.form
    width: 400px
    padding: 20px
    display: flex
    position: relative
    flex-direction: column
    margin: 0 auto
    margin-top: calc(50vh - 250px)
    background-color: #38363e
    position: relative
    
.area
    display: flex
    flex-direction: column
    padding: 10px
    padding-bottom: 0

.area__label
    font-size: 24px
    transform: translate(0px, 45px) scale(1) 
    transform-origin: top left

.area__input
    background: transparent
    border: 0
    outline: none
    border-bottom: 2px solid #b6b0b0
    padding: 10px 15px
    transition: .4s linear
    color: #dfaf3b
    &:focus
        border-bottom: 2px solid #dfaf3b

.area-focus
    transform: translate(0px, 1.5px) scale(0.75) 
    transition: .2s linear
    transform-origin: top left

.area-btn
    display: flex
    justify-content: center
    padding: 40px 0 20px 0

.area-btn__submit
    padding: 10px 50px
    background: transparent
    border: 2px solid #b6b0b0
    color: #b6b0b0
    outline: none

.navigation__warning,
.navigation__success
    position: absolute
    top: 87%
    right: 0
    z-index: 9999
    
.form__area_error,
.form__area_success,
.form__area_warning
    width: 100%
    position: absolute
    top: -15%
    left: 0
    right: 0
    padding: 0
    z-index: 9999

.registration-link
    color: #e2a110
    text-align: center
    padding-top: 15px
    cursor: pointer
    

.registration-link
    &:hover
        color: #e2a110
        text-decoration: none

@media screen and (max-width: 768px)
    .form
        height: 100vh
        width: auto
        margin-top: 0

        &__area_error,
        &__area_success,
        &__area_warning
            top: 0

    